<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    
    <div class="container">

      <header id="header">
      
        <figure id="logo">
          <%= logo %>
        </figure> 

        <nav id="top-nav-bar">
          <ul id="nav-bar">
            <%= render :partial => 'spree/shared/nav_bar' %>
          </ul>
        </nav>

        <% if store_menu? %>
          <nav class="columns alpha omega sixteen">
            <ul id="main-nav-bar">            
              <%= render :partial => 'spree/shared/store_menu' %>
            </ul>
          </nav>
        <% end %>
            
      </header>
        <% if content_for?(:sidebar) %>
          <aside id="sidebar">
            <%= yield :sidebar %>
          </aside>
        <% end %>
        <div id="content">
          <%= breadcrumbs(@taxon) %>
          <%= flash_messages %>
          <%= yield %>
        </div>
      <footer id="footer">
        <div id="footer-left">
          <p><%= t(:powered_by) %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
        </div>
        <div id="footer-right"></div>
      </footer>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </body>

</html>
